In [2]:
import sqlite3

from datetime import datetime

import pandas as pd

import numpy as np

import seaborn as sns

import matplotlib.pyplot as plt

datetime.now().strftime('%Y-%m-%d')

'2023-11-30'

In [1]:
## Food
## Travel 
## House
## Internet Payments 
## Necessities 
## Extras

In [3]:
conn = sqlite3.connect('expenses.db')

cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS expenses (
        Date TEXT PRIMARY KEY,
        Food REAL,
        Travel REAL,
        House REAL,
        Internet_Payments REAL,
        Necessities REAL,
        Extras REAL
    )
''')

In [11]:
def add_expense_row_for_custom_date(expenses):
    #current_date = datetime.now().strftime('%Y-%m-%d')
    #expenses_with_date = [current_date] + expenses
    expenses_with_date = expenses
    cursor.execute('''
        INSERT INTO expenses (Date, Food, Travel, House, Internet_Payments, Necessities, Extras , Investments)
        VALUES (?, ?, ?, ?, ?, ?, ?,?)
    ''', expenses_with_date)
    conn.commit()


def add_expense_row(expenses):
    current_date = datetime.now().strftime('%Y-%m-%d')
    expenses_with_date = [current_date] + expenses
    
    cursor.execute('''
        INSERT INTO expenses (Date, Food, Travel, House, Internet_Payments, Necessities, Extras , Investments)
        VALUES (?, ?, ?, ?, ?, ?, ?,?)
    ''', expenses_with_date)
    conn.commit()
    

    
def add_column(column_name , database = 'expenses.db' , table_name = 'expenses', column_type = 'REAL'):
    conn = sqlite3.connect(database)
    cursor = conn.cursor()

    try:
        cursor.execute(f'ALTER TABLE {table_name} ADD COLUMN {column_name} {column_type}')
        conn.commit()
        print(f"Column '{column_name}' added to table '{table_name}'.")
    except sqlite3.Error as e:
        print(f"SQLite error: {e}")
    finally:
        conn.close()

In [9]:
def display_expenses():    
    cursor.execute('SELECT * FROM expenses')
    rows = cursor.fetchall()
    for row in rows:
        print(row)


def display_table_as_dataframe(table_name = 'expenses'):
    conn = sqlite3.connect('expenses.db')
    try:
        df = pd.read_sql_query(f'SELECT * FROM {table_name} ORDER BY Date', conn)
        #print(df.head())
        return df

    except sqlite3.Error as e:
        print(f"SQLite error: {e}")

    finally:
        
        conn.close()
        

        
        
def display_table(table_name):
    conn = sqlite3.connect('expenses.db')
    cursor = conn.cursor()
    try:
        cursor.execute(f'SELECT * FROM {table_name} ORDER BY Date')
        rows = cursor.fetchall()
        column_names = [description[0] for description in cursor.description]
        print(" | ".join(column_names))
        for row in rows:
            print(" | ".join(map(str, row)))

    except sqlite3.Error as e:
        print(f"SQLite error: {e}")

    finally:
        conn.close()

In [10]:
display_table_as_dataframe()

,Date,Food,Travel,House,Internet_Payments,Necessities,Extras,Investments
0,2023-11-28,220.0,351.0,0.0,199.0,0.0,0.0,0.0
1,2023-11-29,20.0,0.0,280.0,0.0,0.0,0.0,0.0
2,2023-11-30,2182.0,0.0,0.0,0.0,0.0,350.0,NaN